# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
*.Rproj
*.rproj
*.Rproj.user/
*.rproj.user
*.Rproj.user
*.rprofile
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# DS_Store
**/.DS_Store
ancestry/.DS_Store
ancestry/admix/.DS_Store
ancestry/admix/tmp/
ancestry/admix/output.txt
ancestry/AncestryMaper/.DS_Store
imputation2/config.yml
imputation2/impute_tools/*
imputation2/output/*

.renviron
.Rproj.user
